<!DOCTYPE html>
<html>
<head>
    <title>Password Confirmation</title>
</head>
<body>
    <div>
        {% for message in messages %}
            {{ message }}
        {% endfor %}
    </div>
    <form action="{% url 'change_password' %}" method="post">
        {% csrf_token %}
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$" 
               title="Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, one number, and one special character." 
               required><br><br>

        <label for="confirm_password">Confirm Password:</label>
        <input type="password" id="confirm_password" name="confirm_password" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[^\da-zA-Z]).{8,}$" 
               title="Password must contain at least 8 characters, including one uppercase letter, one lowercase letter, one number, and one special character." 
               required><br><br>

        <input type="submit" value="Change Password">
    </form>
</body>
</html>
